@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --seablue: #7ec3c2;
  --gray: #2e2e2e;
}
* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}
.container {
  margin: 0 auto;
  max-width: 1080px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
nav ul li:hover {
  color: var(--seablue);
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mouse-pointer-2"><path d="m4 4 7.07 17 2.51-7.39L21 11.07z"/></svg>'),
    auto;
  transition: 0.3s ease-in-out;
}
button {
  all: unset;
  padding: 6px 16px;
  background: var(--seablue);
  height: 32px;
  color: #fff;
  font-weight: 500;
}
button:hover {
  background-color: var(--seablue);
  color: var(--gray);
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mouse-pointer-2"><path d="m4 4 7.07 17 2.51-7.39L21 11.07z"/></svg>'),
    auto;
  transition: 0.3s ease-in-out;
}
.landing {
  display: flex;
  align-items: center;
  height: calc(100vh- 72px);
}
.main-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.landing h1 {
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
}
.landing p {
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}
.logo-icon {
  height: 75px;
  width: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.main-btn {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 40px;
}
.main-btn button {
  font-size: 24px;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mouse-pointer-2"><path d="m4 4 7.07 17 2.51-7.39L21 11.07z"/></svg>'),
    auto;
}
.main-btn button:hover {
  background-color: var(--gray);
  color: var(--seablue);
  transition: 0.3s ease-in-out;
}
.bigimg {
  width: 600px;
  height: 600px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  margin-right: -80px;
  margin-top: -88px;
}
.second-btn {
  background: transparent;
  color: #2e2e2e;
  border: 1px solid #2e2e2e;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mouse-pointer-2"><path d="m4 4 7.07 17 2.51-7.39L21 11.07z"/></svg>'),
    auto;
}
.links p {
  font-size: 14px;
  margin-bottom: 8px;
}
.icons {
  display: flex;
  gap: 16px;
}
.amazon:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mouse-pointer-2"><path d="m4 4 7.07 17 2.51-7.39L21 11.07z"/></svg>'),
    auto;
}
.flipkart:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mouse-pointer-2"><path d="m4 4 7.07 17 2.51-7.39L21 11.07z"/></svg>'),
    auto;
}

@media (max-width: 768px) {
  .main-text h1 {
    margin: 10px;
    font-size: 4rem;
  }
  .bigimg {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 400px) {
  .main-text h1 {
    font-size: 1.5rem;
  }
}
